build
build-conan*
build_vs2016
build_conan
CMakeUserPresets.json
.godot/
client_godot/.godot/
client_godot/build/
client_godot/assets/font/*.ttf
client_godot/assets/generated/emoji/
vcpkg
.vcpkg
__pycache__
mir2x.db3
